<%= form_for [@project,@ticket] do |f| %>
<%= f.error_messages %>
<div class="field">
	<%= f.label :title, "标题" %>
	<%= f.text_field :title %>
</div>
<div class="field">
	<%= f.label :description, "简介" %>
	<%= f.text_area :description %>
</div>
<div class="actions">
	<%= f.submit %>
</div>

<% end %>