<%= link_to '添加新项目', new_project_path %>

<h2>项目列表</h2>
<ul>
	<% @projects.each do |project| %>
	<li><%= project.name %>
		<%= link_to 'Show', project_path(project) %>
		<%= link_to 'Edit', edit_project_path(project) %>
		<%= link_to 'Delete',project_path(project), :method => :delete,
		:confirm => "Are you sure you want to delete this project?" %>
		</li>
	<% end %>
</ul>
	