<% title(@project.name, "Projects") %>
<h2><%= @project.name %></h2>
<%= link_to '返回首页', root_path %>
<%= link_to 'New Ticket', new_project_ticket_path(@project) %>
<ul id="tickets">
	<% @project.tickets.each do |ticket| %>
		<li>#<%= ticket.id %> - <%= link_to ticket.title, [@project,ticket] %></li>
	<% end %>
</ul>